
.signup-section{
    background-color: #860033;
    width :360px;
    height: 480px;
    margin:auto;
    border-radius:60px ;
    margin-top:113px
    
  
}

body{
    display: flex;
}

h2{
    text-align: center;
    padding-top:28px ;
    font-family:'Lora' ;
   color: aliceblue;
   font-size: 40px;

}

.group{
 margin-top: 20px;
 position: relative;

}

input{
    border-radius: 15px;
    height:28px;
    width:290px;
    border: none;
    font-family:'Roboto';
    font-size: 14px;
    margin-left: 27px;
    padding-left:10px;
 transition: height 0.3s;
  
}
#name:focus,#email:focus,#password:focus,#passwordConfirm:focus{
    height: 35px;
   
}

.group-i {
    position: absolute;
    left: 303px; 
    top: 50%;
    transform: translateY(-50%);
    font-size: 17px;
    color:gray
}
.requirments-wrapper{
    background-color: white;
    border: none;
    border-radius: 20px;
    width:304px;
    height:90px;
  margin-left:27px;
  display:none;
 
}

 .requirment-list{
    margin-top: 5px;
     padding-left:12px ;
     padding-top:5px;

}
.requirment-list li{
    font-size:14px;
    font-family:'lora';
    display: flex;
    color:rgb(62, 62, 62);
}

.requirment-list li i{
    color: gray;
    padding-right: 2px;
    padding-top: 3px;
    font-size: 13px;
}

input:focus{
    outline:none;
}
#confirmLock,#lockIcon{
    cursor: pointer;
}










