h1{
    font-family: 'Poppins';
    font-size: 40px;
}
h2{
    font-size: 30px;
    font-family: 'Lora';
    text-align: left;
}
.highlight{
   color: #860033
}
p{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: normal;
}
.left {
    flex: 0 0 34%;
    padding: 20px;
}
.intro{
    display: flex;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 0) 100%), url('campus4k.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    justify-content: flex-start;
    align-items: first baseline ;
}
header{
    background-color: #860033;
    display: flex;
    justify-content: space-between;
    height: 70px;
}
.logo{
    height: 65px;
    width: auto;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background-color: #860033;
    width: 100%; 

}
.navbar a{
    color:  #ddd;
    text-decoration: none;
    padding: 14px 20px;
    font-family: 'Poppins';
    justify-content: flex-end;
    transition: 0.1s;
    font-size: 13px;
}
.logo-container{
    flex: 1;
    display: flex;
    font-size: 13px;
    justify-content: flex-start;
}
.navbar a:hover{
    background-color: transparent;
    color: white;
}
button{
    font-size: 25px;
    background-color:#860033 ;
    color: white;
    padding: 20px 24px;
    border:none;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 7px;
    margin-right: 20px;
    width: 70%;
    margin-bottom: 10px;
}
button:hover{
    background-color: #5C0014;
}
.signup{
    color: white;
}
.image-container{
display: flex;
position: relative;
flex: 1;
width: 100%;
}
